@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.reviews {
	@include max-width;
	margin-bottom: $marginBottom;
	scroll-margin-top: 25rem;

	@include devices(mobile) {
		margin-bottom: $marginBottomMobile;
	}

	.heading {
		margin-bottom: 6rem;
		text-align: center;

		span {
			text-transform: uppercase;
			color: $gradient2;
		}
	}

	.content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
		grid-gap: 2rem;
	}
}
