@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
	min-height: 59rem;
	background: linear-gradient($gradient1, $gradient2);
	position: relative;
	margin-bottom: $marginBottom;

	@include devices(mobile) {
		margin-bottom: $marginBottomMobile;
	}

	.content {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 70rem;
		padding: 0 1rem;
		text-align: center;
		color: $white;

		h1 {
			margin-bottom: 2rem;
		}
	}

	.image {
		position: absolute;
		width: 80%;
		height: 28rem;
		max-width: 58rem;
		left: 50%;
		bottom: -12rem;
		transform: translateX(-50%);
	}
}
